.container {
  width: 90px;
  height: 170px; /* Use vh for viewport height */
  display: block; /* Ensures the div takes up block space */
  background-color: transparent; /* Ensure the div itself is transparent */
  /* border: 1px solid red; */
  position: absolute;
  z-index: 1; /* Ensure door is above particles (-1) but below text (2) */
}
